@import "ui-variables";

.tree-view {
  font-size: @font-size;
  // background: @tree-view-background-color;

  .selected:before {
  	background: @base02;
    box-shadow: inset -2px 0 3px rgba(0,0,0, .1);
  }
}

.focusable-panel {
  opacity: 1;
  background: @base03;
  box-shadow: inset -3px 0 3px rgba(0,0,0, .1);

  &:focus {
    background: @base03;

    .selected:before {
      background: lighten(@base02, 2%);
    }

    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: @base2 !important;
    }
  }
}
